<!-- About Section -->
<section id="about" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">

    <h3 class="section-heading text-center mt-3">自己紹介</h3>

    <div class="row about-row m-0 mt-5 mb-4">

      <div class="col-lg-6 col-sm-12 col-md-12 p-0 d-flex justify-content-center align-items-center">
        <img class="rounded-circle profile-img" data-tilt src="/content/2.png" alt="Boris Profile Picture">
      </div>

      <div class="col-lg-6 col-sm-12 col-md-12 p-0 about-info-div d-flex justify-content-center align-items-center">
        <div class="row d-flex about-info-row justify-content-center align-items-center">
          <p class="about-info">
            私は<span>フルステン、AIエンジニア</span>として8年間従事しています。
            何よりもプロジェクトの成功が第一だと思うので<span>「安く」「早く」「完璧に」「丁寧に」</span>を心がけて仕事をします。
            世界に縁は多くても良い縁は一つです。お客様と良い縁を結んで長時間一緒に働きたいです。
            ご連絡いただければ、すぐに対応できる態勢を整えておりますので、どうぞよろしくお願いいたします。
            <br><br>
              コーディングをしないときは常に<span>新しい技術</span>を学んでいます。
              私は現在AI分野の新技術である<span>ChainGPT</span>について学んでいます。            
              <a href="https://docs.google.com/spreadsheets/d/1DGVKX46o4HBEynWEkC8U8hyjdBzSg11f/edit?usp=sharing&ouid=100237103162476856203&rtpof=true&sd=true" target="_blank" aria-label="keybr link">スキルシート<span
                class="iconify" data-icon="charm:link-external" data-width="23" data-height="23"></span>.</a>
          </p>
        </div>

      </div>

    </div>

    <h3 class="section-sub-heading section-sub-heading-primary">興味のあること</h3>

    <div class="row pb-5 m-0">

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="100">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="ri:html5-fill" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Web 開発</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="akar-icons:bootstrap-fill" data-width="35"
            data-height="35"></span>
          &nbsp;&nbsp;
          <h4 class="mb-0 interests-div-heading">フロントエンド開発</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:database" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">バックエンド開発</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="material-symbols:keyboard" data-width="35"
            data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">AI 開発</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="100">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="eos-icons:dns" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">ドメイン & DNS</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:code-braces" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">プログラミング</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="cib:amazon-aws" data-width="35" data-height="35"></span>
          &nbsp;&nbsp;
          <h4 class="mb-0 interests-div-heading">Web ホスティング</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="fluent:people-team-16-filled" data-width="35"
            data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">新技術研究 & 読書</h4>
        </div>
      </div>
    </div>

  </div>

</section>