<!-- Home Section -->
<section id="home" class="section-primary d-flex justify-content-center align-items-end">
  <div class="content">

    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="row inner-row m-0 ">
          <div
            class="col-4 p-0 home-cols d-flex align-items-end justify-content-start animate__animated animate__slideInUp">
            <img class="side-img side-img-left" data-tilt src="/content/coding-left.webp" alt="Left side image">
          </div>
          <div class="col-4 p-0 home-cols d-flex align-items-center justify-content-center">
            <div class="row">
              <div
                class="col-12 p-0 home-cols align-items-end justify-content-center animate__animated animate__zoomInDown animate__delay-1s">
                <h1 class="home-heading mb-0 text-center">佐々木  篤司</h1>
                <h2 class="home-kana mb-0 text-center">ササキ　アツシ</h2>
              </div>
              <div
                class="col-12 p-0 home-cols home-info-div d-flex align-items-start justify-content-center animate__animated animate__zoomInUp animate__delay-2s">
                <h2 class="home-info mb-0 text-center">AI & フルスタックエンジニア</h1>
              </div>
            </div>
          </div>
          <div
            class="col-4 p-0 home-cols d-flex align-items-start justify-content-end  animate__animated animate__slideInDown">
            <img class="side-img side-img-right" src="/content/coding-right.webp" alt="Right side image">
          </div>
        </div>
      </div>
      <div class="col-12 p-0 home-cols d-flex align-items-end justify-content-center">
        <img class="main-img" src="/content/programmer.webp" alt=" Programmer image">
      </div>
    </div>

  </div>

</section>