<nav class="navbar navbar-expand-lg fixed-top navbar-unscrolled">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/content/3.png" class="logo rounded-circle" style="" alt="Boris Edison logo">
        </a>
        <button class="hamburger hamburger--vortex navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" aria-label="home link" aria-current="page" href="#home">Home</a>
                <a class="nav-link" aria-label="about link" href="#about">About</a>
                <a class="nav-link" aria-label="technical link" href="#technical">Technical Skills</a>
                <a class="nav-link" aria-label="resume link" href="https://app.enhancv.com/share/4fd32de0/?utm_medium=growth&utm_campaign=share-resume&utm_source=dynamic">Resume</a>
                {{!-- <a class="nav-link" href="#accomplishment">Accomplishments</a> --}}
                <a class="nav-link" aria-label="project link" href="#project">Projects</a>
                {{!-- <a class="nav-link" href="#research">Research</a> --}}
                <a class="nav-link" aria-label="contact link" href="#contact">Contact</a>
                {{!-- <a id="nav-item" target="_blank" aria-label="Fork" data-balloon-pos="down"
                    href="" class="d-flex align-items-center justify-content-start">
                    <button class="fork-btn" aria-label="fork btn" class="d-flex justify-content-center align-items-center">
                        <span class="iconify" data-icon="ph:git-fork" data-width="23" data-height="23"></span>
                    </button>
                </a> --}}
            </div>
        </div>
    </div>
</nav>