<!-- Technical Skills Section -->
<section id="project" class="section section-primary d-flex justify-content-center align-items-center">

    <div class="content content-primary">
        <h3 class="section-heading text-center mt-3">プロジェクト</h3>

        <div class="row skills-row pb-5 m-0">

            <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="100">

                        <figure class="project-figure">
                            <video src="./content/a-1.mp4" class="project-img" type="video/mp4" controls autoplay muted></video>
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    不動産
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                {{!-- <a href="" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> --}}
                                &nbsp;&nbsp;&nbsp;
                                <a href="https://aitohus.com" target="_blank" aria-label="Live Project"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="charm:link-external"
                                        data-width="35" data-height="35"></span>
                                </a>
                            </div>

                        </div>

                        <div class="row pt-1">
                            <h5>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/wordpress.jfif" width="100%" alt="">
                                    </span>
                                    &nbsp;
                                    Wordpress
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge hbs-badge">
                                    <span class="iconify built-with-icons"
                                        data-icon="simple-icons:handlebarsdotjs"></span>
                                    &nbsp;
                                    Handlebars
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge mysql-badge">
                                    <span class="iconify built-with-icons" data-icon="logos:mysql-icon">
                                    </span>
                                    &nbsp;
                                    MySQL
                                </span>
                            </h5>
                        </div>

                        <p class="project-info">
                            AITOHUSの<span>「幸せを作る、機能美の家」</span>を、是非思いっきり楽しめます。
                            その家に住むあなたを心から満たしていく。
                            そんな優れた機能を追求することこそ、「デザイン」があるはずの姿。
                        </p>

                        <span class="date-badge">
                            Dec 2022 - Jan 2023
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="200">

                        <figure class="project-figure">
                            <img src="./content/c-1.PNG" class="project-img" alt="MPT project">
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    金融
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                &nbsp;&nbsp;&nbsp;

                                <a href="https://ig-brand.jp" target="_blank" aria-label="Live Project"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="charm:link-external"
                                        data-width="35" data-height="35"></span>
                                </a>

                            </div>

                        </div>

                        <div class="row pt-1">
                            <h5>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge django-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/react.png" width="100%" alt="">
                                    </span>
                                    &nbsp;
                                    React
                                </span>
                                  <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/next.png" width="100%" alt="">
                                    </span>
                                    &nbsp;
                                    NextJs
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons" data-icon="logos:nodejs-icon"></span>
                                    &nbsp;
                                    NodeJs
                                </span>
                                
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge chartjs-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:express"></span>
                                    &nbsp;
                                    Express
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="logos:tailwindcss-icon"></span>
                                    &nbsp;
                                    TailwindCSS
                                </span>
                                 <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="logos:aws"></span>
                                    &nbsp;
                                    AWS
                                </span>
                            </h5>
                        </div>

                        <p class="project-info">
                           世界に<span>19</span>の拠点を持っているIG証券株式会社のブランドサイト。
                        </p>

                        <span class="date-badge">
                            Feb 2021 - Apr 2022
                        </span>

                    </div>

                </div>
            </div>

  

            <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">

                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="200">

                        <figure class="project-figure">
                            <img src="./content/ec.PNG" class="project-img" alt="APBCT Project">
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    EC
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                {{!-- 
                                <a href="" target="_blank" aria-label="Source Code"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> --}}

                                &nbsp;&nbsp;&nbsp;

                                <a href="https://fructus.stores.jp" target="_blank" aria-label="Live Project"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="charm:link-external"
                                        data-width="35" data-height="35"></span>
                                </a>

                            </div>

                        </div>

                        <div class="row pt-1">
                            <h5>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/shopify.jfif" alt="" width="100%">
                                    </span>
                                    &nbsp;
                                    Shopify
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="logos:aws"></span>
                                    &nbsp;
                                    AWS
                                </span>

                            </h5>
                        </div>

                        <p class="project-info">
                         <span>「材料には不要なものを使わずにシンプルに、製造方法はより丁寧に」</span>というスローガンを持った<span>FRUCTUS</span>の意識を尊重し、シンプルなデザインにフレンドリーなデザインを加えてサイトを制作しました。
                        </p>

                        <span class="date-badge">
                            Sep 2020 - Jan 2021
                        </span>
                    </div>
                </div>
            </div>
                      <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="100">

                        <figure class="project-figure">
                               <video src="./content/m2.mp4" class="project-img" type="video/mp4" controls autoplay muted></video>
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                {{!-- <a href="https://github.com/BorisEdison/Diffuser" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> --}}
                                &nbsp;&nbsp;&nbsp;
                                <a href="https://chat.chatgptdemo.net" target="_blank" aria-label="Live Project"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="charm:link-external"
                                        data-width="35" data-height="35"></span>
                                </a>
                            </div>
                        </div>

                        <div class="row pt-1">
                            <h5>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge python-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:python-fill"></span>
                                    &nbsp;
                                    Python
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:bootstrap-fill"></span>
                                    &nbsp;
                                    Bootstrap
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge chartjs-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/langchain.jfif" alt="" width="100%">
                                    </span>
                                    &nbsp;
                                    LangChain
                                </span>
                                 <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge hbs-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/rag.jfif" alt="" width="100%">
                                    </span>
                                    &nbsp;
                                    RAG
                                </span> 
                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons">
                                        <img src="./content/tech/gpt.png" alt="" width="100%">
                                    </span>
                                    &nbsp;
                                    GPT-4
                                </span>
                            </h5>
                        </div>

                        <p class="project-info">
                            <span>Python、LangChain、RAG、GPT-4</span>を利用して作ったチャットボットのデモ版です。
                            誰にでも<span>「初めて」</span>や<span>「始まり」</span>というものがあり、初めて成功したときは、それは大切な思い出として残ると思います。
                            これより素晴らしいチャットボットをたくさん開発しましたが、私の最初の作品なので、私にとって大切なのです。
                            たから可愛く見てくださいよ。
                        </p>

                        <span class="date-badge">
                            Jul 2022 - Oct 2022
                        </span>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>