<!-- Technical Skills Section -->
<section id="technical" class="section section-primary d-flex justify-content-center align-items-center">

  <div class="content content-primary">
    <h3 class="section-heading text-center mt-3">スキル</h3>

    <div class="row skills-row pb-5 m-0">

      <div class="col-lg-4 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
        <div class="skills-outer-div">
          <div class="card-body skills-div" data-aos="fade-up" data-aos-delay="100">
            <h4 class="skills-heading">プログラミング言語</h4>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="C"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="color: #00589d;" data-icon="teenyicons:c-solid"></span>
              </div>

              <div class="col-3 m-2 p-0 skills-logo d-flex justify-content-center align-items-center" aria-label="C++"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1 " style="background-color: white;"
                  data-icon="logos:c-plusplus"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Python" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;" data-height="60"
                  data-icon="vscode-icons:file-type-python"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="JavaScript" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;" data-height="60"
                  data-icon="logos:javascript"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="TypeScript" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/typescript.png" width="100%" alt="">
                </span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="PHP"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;" data-height="60"
                  data-icon="logos:php"></span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Wordpress" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/wordpress.jfif" width="100%" alt="">
                </span>
              </div>  
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Shopify" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/shopify.jfif" width="100%" alt="">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
        <div class="skills-outer-div">
          <div class="card-body skills-div" data-aos="fade-up" data-aos-delay="200">
            <h4 class="skills-heading">フロントエンド</h4>

            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Bootstrap" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:bootstrap"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="HTML"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-html"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="CSS"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-css"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="TailwindCSS" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:tailwindcss-icon"></span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Sass" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/sass.png" width="100%" alt="">
                </span>
              </div>
               <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="React" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/react.png" width="100%" alt="">
                </span>
              </div> 
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Next.js" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/next.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Vue.js" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/vue.png" width="100%" alt="">
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
        <div class="skills-outer-div">
          <div class="card-body skills-div" data-aos="fade-up" data-aos-delay="300">
            <h4 class="skills-heading">バックエンド</h4>

            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Django" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-django"></span>
              </div>
         
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="expressJS" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="simple-icons:express"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="NodeJS" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:nodejs-icon"></span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="NestJs" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/nestjs.svg" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Laravel" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/laravel.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Strapi" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:strapi-icon"></span>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 mt-5 p-0 col-sm-12 d-flex justify-content-center">
        
        <div class="skills-outer-div">
          <div class="card-body skills-div" data-aos="fade-up" data-aos-delay="100">
            <h4 class="skills-heading">クラウド</h4>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="AWS"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;" data-icon="logos:aws"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Heroku" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:heroku-icon"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Netlify" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-netlify"></span>
              </div>

            </div>

          </div>
          <div class="card-body skills-div mt-5" data-aos="fade-up" data-aos-delay="200">
            <h4 class="skills-heading">データベース</h4>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="MongoDB" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="color: #409c39; background-color: white;"
                  data-icon="simple-icons:mongodb"></span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="SQLite" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-sqlite"></span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="mySQL"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:mysql-icon"></span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
        <div class="skills-outer-div">
          <div class="card-body skills-div" data-aos="fade-up" data-aos-delay="200">
            <h4 class="skills-heading">AI</h4>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Langchain" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="color: #409c39; background-color: white;">
                  <img src="/content/tech/langchain.jfif" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="RAG" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/rag.jfif" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Llama" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/llama.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="GPT"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/gpt.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Pinecone"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/pinecone.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Dify"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/dify.png" width="100%" alt="">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-5 col-sm-12  d-flex justify-content-center">
        <div class="skills-outer-div">
          <div class="card-body skills-div" data-aos="fade-up" data-aos-delay="300">
            <h4 class="skills-heading">ツール</h4>

            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-3 col-md-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Nginx" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-nginx"></span>
              </div>

              <div class="col-3 col-md-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Figma" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;" data-icon="logos:figma"></span>
              </div>

              <div class="col-3 col-md-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Linux" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:linux-tux"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="GitHub" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="logos:github-icon"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Git"
                data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-git"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Replit" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;"
                  data-icon="vscode-icons:file-type-light-replit"></span>
              </div>

              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Slack" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/slack.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Chatworks" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/chatworks.png" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Discord" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/discord.jfif" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="Skype" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/skype.jfif" width="100%" alt="">
                </span>
              </div>
              <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="telegram" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/telegram.jfif" width="100%" alt="">
                </span>
              </div>
               <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center"
                aria-label="line" data-balloon-pos="up">
                <span class="iconify skills-icon p-1" style="background-color: white;">
                  <img src="/content/tech/line.jfif" width="100%" alt="">
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</section>