@import "global.css";

nav {
	background-color: var(--clr-accent-300);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: var(--clr-accent-700) !important;
}

.logo {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;
	max-width: 70px;
}

.navbar-scrolled {
	padding: 0px 48px 0px;
}

.navbar-unscrolled {
	padding: 24px 48px 8px;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

.nav-link {
	white-space: nowrap;
	text-transform: uppercase;
	color: var(--clr-accent-700) !important;
	font-size: var(--fs-250) !important;
	position: relative;
}

.nav-link.active {
	color: var(--clr-accent-800) !important;
}

.nav-link:hover {
	color: var(--clr-accent-800) !important;
}

.nav-link:focus {
	color: var(--clr-accent-800) !important;
}

.nav-link:before {
	position: absolute;
	bottom: 2px;
	content: "";
	width: 83.5%;
	height: 3px;
	background: var(--clr-accent-800);
	transform: translateX(-100%);
	opacity: 0;
}

.nav-link:hover:before {
	opacity: 1;
	transition: 0.5s transform ease, 0.8s opacity ease;
	transform: translateX(0);
}

/* fork btn */
.fork-btn {
  appearance: none;
  background-color: var(--clr-accent-700);
  border: 2px solid var(--clr-accent-700);
  border-radius: 7px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  margin: 4px;
  height: 35px;
  width: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.fork-btn:disabled {
  pointer-events: none;
}

.fork-btn:hover {
  box-shadow: rgba(78,186, 191, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.fork-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* media query */
@media (max-width: 1200px) {
	.navbar-scrolled {
		padding: 0px 18px 0px !important;
	}

	.navbar-unscrolled {
		padding: 24px 18px 8px !important;
	}
}

@media (max-width: 993px) {
	.fork-btn {
		margin: 4px 0;
	}
}

@media (max-width: 780px) {}

@media (max-width: 550px) {
	.logo {
		width: 60px;
	}
	.navbar-scrolled {
		padding: 0px 14px 0px !important;
	}

	.navbar-unscrolled {
		padding: 24px 14px 8px !important;
	}
}

@media (max-height: 820px) {
	.navbar-unscrolled {
		padding: 14px 14px 8px !important;
	}
}

@media (max-height: 635px) {
	.logo {
		width: 55px;
	}
	.navbar-scrolled {
		padding: 0px 14px 0px !important;
	}

	.navbar-unscrolled {
		padding: 0px 14px 0px !important;
	}
}