.preloader-hr {
    opacity: 1 !important;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}


.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease ;
}

.load :first-child {
    background: var(--clr-accent-500);
    animation-delay: -1.5s;
}

.load :nth-child(2) {
    background: var(--clr-accent-600);
    animation-delay: -1s;
}

.load :nth-child(3) {
    background: var(--clr-accent-700);
    animation-delay: -0.5s;
}

.load :last-child {
    background: var(--clr-accent-800);
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: translate(160%);
    }

    50% {
        transform: translate(160%, 160%);
    }

    75% {
        transform: translate(0, 160%);
    }
}