@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "global.css";

ul {
  list-style-type: none;
  padding: 0;
}

.resume {
  width: 90%;
  margin-top: 36px;
  border-radius: 10px;
  background-color: var(--clr-accent-300);
  box-shadow: rgba(78, 186, 191, 0.4) 5px 5px, rgba(78, 186, 191, 0.3) 10px 10px, rgba(78, 186, 191, 0.2) 15px 15px, rgba(78, 186, 191, 0.1) 20px 20px, rgba(78, 186, 191, 0.05) 25px 25px;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.resume-div-heading {
  color: var(--clr-sub-heading);
  margin: 10px 0;
  font-size: var(--fs-350);
  transition-duration: 0.3s;
  margin-top: 0;
  margin-left: 15px;
}

.resume-div-heading-icon {
  margin-right: 10px;
}

.resume-div-sub-heading {
  color: var(--clr-accent-700);
  font-size: var(--fs-250);
  font-weight: var(--fw-semi-bold);
}

.resume-div-content>p {
  font-size: var(--fs-200);
  color: var(--clr-info);
  opacity: 0.65;
}

.resume-info-ul {
  font-size: var(--fs-200);
  color: var(--clr-info);
  opacity: 0.65;
}

.project-redirect-link {
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-accent-700);
}

.project-redirect-link:hover {
  color: var(--clr-accent-800);
}

.km-btn {
  background-color: transparent;
  border: 0ch;
  color: var(--clr-accent-700);
  font-weight: bolder;
  transition: transform .2s ease-in-out;
}

.km-icon {
  width: 33px !important;
  height: 33px !important;
}

.btn-transform {
  transform: rotate(-180deg);
}

/* .resume:hover {
  transform: scale(1.01);
  transition-duration: 1s ;
}  */

.resume-li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.resume-li:hover::before {
  -webkit-animation: circle 1.2s infinite;
  animation: circle 1.2s infinite;
}

.resume-li:hover .resume-div-sub-heading {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-accent-800);
}

.resume-li:first-of-type::before {
  width: 14px;
  height: 14px;
  left: 0px;
}

.resume-li:last-of-type {
  padding-bottom: 3px;
}

.resume-li:last-of-type::after {
  border-radius: 1.5px;
}

.resume-li::before,
.resume-li::after {
  content: "";
  display: block;
  position: absolute;
}

.resume-li::before {
  width: 11px;
  height: 11px;
  border: 3px solid black;
  background: var(--clr-accent-800);
  border-radius: 50%;
  left: 0.8px;
  z-index: 1;
}

.resume-li::after {
  width: 3px;
  height: 100%;
  background: black;
  left: 5px;
  top: 0;
}

.resume ul li span {
  transition-duration: 0.3s;
}

@-webkit-keyframes circle {
  from {
    box-shadow: 0 0 0 0px var(--clr-accent-800);
  }

  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px var(--clr-accent-800);
  }

  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

/* media query */
@media (max-width: 1200px) {}

@media (max-width: 993px) {
  .resume {
    width: 65%;
  }
}

@media (max-width: 945px) {}

@media (max-width: 780px) {
  .resume {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .resume {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }

  .resume-div-heading {
    font-size: var(--fs-300);
  }

  .resume-div-sub-heading {
    font-size: var(--fs-200)
  }

  .resume-div-content>p {
    font-size: var(--fs-150);
  }

  .resume-info-ul {
    font-size: var(--fs-150);
  }

  .km-icon {
    width: 25px !important;
    height: 25px !important;
  }
}

@media (max-height: 820px) {
  .resume {
    width: 90%;
  }
}

@media (min-width: 1145px) {
  .resume {
    width: 511px;
  }
}